Q1. Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q 2.Variable of list type containing 10 elements.and apply pandas.Series function on the varable.

In [7]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q 3 A Pandas DataFrame that contains the following data:

In [13]:
data={'Name': ['Alice','Bob','Claire'],'Age':['25','30','27'],'Gender':[ 'Female','Male','Female']}
df = pd.DataFrame(data)
print(df)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

Q 4 ‘DataFrame’ in pandas and how is it different from pandas.series?

In [15]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [16]:
# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')
print("Series:")
print(ages)

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

Q 5 Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. Here are some commonly used functions:
1.'head'() and 'tail'()
2.'info'()
3. 'describe'()
4. 'shapes'()
5. 'unique'()
6. 'sort_values'()
7. 'groupby'()
8. 'category'()
9. 'drop'()
10. 'Fillna'()
11. 'apply'()
12. 'merge'()
13. ' join()'

In [2]:
import pandas as pd
data = {
    'Product': ['A', 'B', 'A', 'B', 'C', 'A', 'C', 'B'],
    'Category': ['X', 'Y', 'X', 'Y', 'Z', 'X', 'Z', 'Y'],
    'Sales': [100, 150, 120, 200, 80, 90, 110, 170]
}

df = pd.DataFrame(data)

# Grouping by 'Category' and calculating total sales
sales_by_category = df.groupby('Category')['Sales'].sum()
print(sales_by_category)

Category
X    310
Y    520
Z    190
Name: Sales, dtype: int64

Q 6 i.Series: A Series in pandas is a one-dimensional labeled array that can hold any data type. It is mutable,we can modify its values, add new elements, or remove existing elements.

ii. DataFrame: A DataFrame in pandas is a two-dimensional labeled data structure with columns of potentially different data types. It is also mutable, allowing to modify its values, add or remove columns, and perform various operations on the data.

iii. Panel: A Panel in pandas is a three-dimensional data structure that can be thought of as a container for multiple DataFrames. However, starting from pandas version 0.20.0, the Panel structure has been deprecated as a primary data structure, and it is recommended to use MultiIndex DataFrames or other data structures instead. Panels are not mutable.

In [3]:
Q 7.

SyntaxError: invalid syntax (1625769088.py, line 1)

In [4]:
import pandas as pd

# Creating the Series
name_series = pd.Series(['John', 'Himani', 'Michle'])
age_series = pd.Series([25, 28, 32])
city_series = pd.Series(['Delhi', 'Mumbai', 'Bangalore'])

# Creating the DataFrame
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'City': city_series})

print(df)

     Name  Age       City
0    John   25      Delhi
1  Himani   28     Mumbai
2  Michle   32  Bangalore